* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;    
}

canvas {
    display: block;
    background: black;
    filter: blur(20px);
}

.overlay {
    height: 100dvh;
    width: 100dvh;
    /* background-color: aqua; */
    filter: contrast(30);
}